:root {
  --primary-color: #616283; /*Ultra Violet*/
  --Secondary-color: white; /*White*/
  --Tertiary-color: black; /*Black*/
  --Text-align: center;
  --Modal-backgroud: #73956f;
}

body {
  background-color: var(--Tertiary-color);
  text-transform: capitalize;
}



.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--primary-color);
  text-align: var(--Text-align);
}

.list-group-item {
  background-color: black;
}
.btn-default {
  background-color: var(--primary-color);
  border: none;
  width: 75%;
  height: auto;
  padding: 3%;
  margin: 2% auto;
  color: var(--Secondary-color);
  font-size: 18px;
  text-decoration: none;
  text-align: var(--Text-align);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--Secondary-color);
  border: 2px var(--Tertiary-color);
  text-transform: capitalize;
}

.btn:hover {
  color: var(--Tertiary-color);
  font-weight: bold;
  background-color: var(--Secondary-color);
}

.btn-secondary {
  margin: auto;
  width: 50%;
  background-color: var(--Tertiary-color);
  
}

.modal-content {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  color: var(--Secondary-color);
  background: var(--primary-color);
  padding: 13px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

.modal-title {
  color: var(--Secondary-color);
  width: 100%;
  text-align: center;
}

.close {
  float: right;
  -webkit-appearance: none;
  background: none;
  color: var(--Secondary-color);
}

@media all and (max-width: 500px) {
  .list-group {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .list-group {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media all and (max-width: 750px) {
  .list-group {
    grid-gap: 10px;
  }
}
