:root {
    --primary-color: #616283; /*Ultra Violet*/
    --Secondary-color: white; /*White*/
    --Tertiary-color: black; /*Black*/
    --Text-align: center;
    
}
body {
    background-color: var(--Tertiary-color);
  }
  h1 {
    color: var(--primary-color);
    text-align: var(--Text-align);
  }
  .button-class {
    background-color: var(--primary-color);
    border: none;
    color: var(--Secondary-color);
    height: 45px;
    width: 150px;
    text-align: var(--Text-align);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--Secondary-color);
    border: 2px var(--Tertiary-color);
  
  }
  
  .pokemon-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: var(--Text-align);
    
    
    
  }
  
  
  @media all and (max-width:500px) {
      .grid {
          -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      }
  }
  
  @media all and (min-width: 500px) and (max-width: 750px) {
      .grid {
          -ms-grid-columns: 1fr 20px 1fr;
          grid-template-columns: 1fr 1fr;
      }
  }
  
  @media all and (max-width: 750px) {
      .grid {
          grid-gap: 10px;
      }
      .grid__item:last-child {
          grid-column: auto / auto;
          grid-row: auto / auto;
      }
      h1 {
          font-size: 22px;
      }
  }